<div class="fixed-action-btn">
  <a class="btn-floating btn-large shishu-accent-btn">
    <svg style="width:36px;height:36px;margin-top:0.5em;" viewBox="0 0 24 24">
    <path fill="#f3f3f3" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
</svg>
  </a>
  <ul>
    <li><a class="btn-floating shishu-accent-btn tooltipped" data-position="left" data-tooltip="Check our Github!" href="https://github.com/BootleggersROM">
<svg style="width:24px;height:24px;margin-top:0.5em;" viewBox="0 0 24 24">
    <path fill="#f3f3f3" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
</svg>
    </a></li>
    <li><a class="btn-floating shishu-accent-btn tooltipped" data-position="left" data-tooltip="Join our Telegram chat!" href="https://t.me/keepthebootleg">
    	<svg style="width:24px;height:24px;margin-top:0.5em;" viewBox="0 0 24 24">
    <path fill="#f3f3f3" d="M9.78,18.65L10.06,14.42L17.74,7.5C18.08,7.19 17.67,7.04 17.22,7.31L7.74,13.3L3.64,12C2.76,11.75 2.75,11.14 3.84,10.7L19.81,4.54C20.54,4.21 21.24,4.72 20.96,5.84L18.24,18.65C18.05,19.56 17.5,19.78 16.74,19.36L12.6,16.3L10.61,18.23C10.38,18.46 10.19,18.65 9.78,18.65Z" />
</svg>
    </a></li>
    <li><a class="btn-floating shishu-accent-btn tooltipped" data-position="left" data-tooltip="Follow us on Instagram!" href="https://instagram.com/keepthebootleg">
<svg style="width:24px;height:24px;margin-top:0.5em;" viewBox="0 0 24 24">
    <path fill="#f3f3f3" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
</svg>
    </a></li>
  </ul>
</div>

<footer class="page-footer shishu-light-bg">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Bootleggers ROM</h5>
				<p class="grey-text text-lighten-4">Making you feel like 家 since 2017.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="https://bootleggersrom.github.io/">Home</a></li>
					<li><a class="grey-text text-lighten-3" href="https://bootleggersrom.github.io/blog">Blog</a></li>
					<li><a class="grey-text text-lighten-3" href="https://bootleggersrom-devices.github.io">Downloads</a></li>
					<li><a class="grey-text text-lighten-3" href="https://bootleggersrom.github.io/about">About</a></li>
					<li><a class="grey-text text-lighten-3" href="https://bootleggersrom.github.io/faq">FAQ</a></li>
					<li><a class="grey-text text-lighten-3" href="https://bootleggersrom.github.io/extras/addons">Addons</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2018 | Bootleggers ROM
			<a class="grey-text text-lighten-4 right" href="https://materializecss.com">Made with Materialize</a>
		</div>
	</div>
</footer>