<head>
  <!-- Page related info -->
  {% if page.title == null %}
  <title>{{ site.title }} | ?????</title>
  <meta name="title" content="{{ site.title }} | ?????">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="twitter:title" content="{{ site.title }}">
  {% else %}
  <title>{{ site.title }} | {{ page.title }}</title>
  {% if page.image %}
  {% comment %} Bad approach to check if it's a blog post, then changing the title {% endcomment %}
  <meta name="title" content="{{ page.title }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="twitter:title" content="{{ page.title }}">
  {% else %}
  <meta name="title" content="{{ site.title }} | {{ page.title }}">
  <meta property="og:title" content="{{ site.title }} | {{ page.title }}">
  <meta property="twitter:title" content="{{ site.title }} | {{ page.title }}">
  {% endif %}
  {% endif %}

  {% if page.image %}
  <meta property="og:image" content="{{ page.image }}">
  <meta property="twitter:image" content="{{ page.image }}">
  <meta property="twitter:card" content="summary_large_image">
  {% else %}
  <meta property="og:image" content="https://github.com/BootleggersROM/ExtraStuff/raw/pasta/threadfiles/00-banner.png">
  <meta property="twitter:image" content="https://github.com/BootleggersROM/ExtraStuff/raw/pasta/threadfiles/00-banner.png">
  <meta property="twitter:card" content="summary_large_image">
  {% endif %}

  <!-- Descriptions -->
  <meta name="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="twitter:description" content="{{ site.description }}">
  
  <!-- Extra props -->
  <meta property="og:site_name" content="Bootleggers ROM">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="twitter:url" content="{{ site.url }}">
  <meta name="theme-color" content="#1c1c24">

  <!-- favicon data generated on favicon-generator.org -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{- 'img/icon/apple-icon-57x57.png' | relative_url -}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{- 'img/icon/apple-icon-60x60.png' | relative_url -}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{- 'img/icon/apple-icon-72x72.png' | relative_url -}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{- 'img/icon/apple-icon-76x76.png' | relative_url -}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{- 'img/icon/apple-icon-114x114.png' | relative_url -}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{- 'img/icon/apple-icon-120x120.png' | relative_url -}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{- 'img/icon/apple-icon-144x144.png' | relative_url -}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{- 'img/icon/apple-icon-152x152.png' | relative_url -}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{- 'img/icon/apple-icon-180x180.png' | relative_url -}}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{- 'img/icon/android-icon-192x192.png' | relative_url -}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{- 'img/icon/favicon-32x32.png' | relative_url -}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{- 'img/icon/favicon-96x96.png' | relative_url -}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{- 'img/icon/favicon-16x16.png' | relative_url -}}">
    <link rel="manifest" href="{{- 'img/icon/manifest.json' | relative_url -}}">
    <meta name="msapplication-TileColor" content="#1c1c24">
    <meta name="msapplication-TileImage" content="{{- 'img/icon/ms-icon-144x144.png' | relative_url -}}">

  <!-- Style importing -->
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.8.94/css/materialdesignicons.min.css">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link rel="stylesheet" href="{{- 'css/main.css' | relative_url -}}">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Adding Jquery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
