<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="shishu">
    {% include navbar.html %}
    <body>
      <div class="container-fluid">
        <div class="row">
          {{ content }}
        </div>
      </div>
    </body>
    {% include footerlinks.html %}
    {% include jsincludes.html %}
  </body>
</html>