<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="shishu">
    {% include navbar.html %}
    <body>
      <div class="container">
        <div class="row">
          {{ content }}
      </div>
    </div>
  </body>
  {% include jsincludes.html %}
</body>
</html>