<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="shishu">
    {% include navbar.html %}
    <body>
      <div class="container">
        <div class="row">
          <div class="col s12 card shishu-light-bg">
          {{ content }}
          <br><br>
        </div>
      </div>
    </div>
  </body>
  {% include footerlinks.html %}
  {% include jsincludes.html %}
</body>
</html>